<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/styles.css">
	<meta charset="UTF-8">
	<meta name="description" content="Página Principal – Qarabağ Bankı">
	<meta name="keywords" content="Qarabağ, Karabakh, Azerbaijan, Azərbaycan, Bankı">
	<meta name="author" content="Jean Stylianoudakis">
	<meta http-equiv="refresh" content="150">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<header>

	<h1>Qarabağ Bankı</h1>

</header>

<section>
	
	<article>
		
		<p>Bem-vindo à página do Qarabağ Bankı, o banco que reconstruirá Qarabağ!</p>

		<p>Aqui você poderá encontrar informações de contato de nossas unidades de atendimento.</p>

		<img class="resize" src="images/azerbaijan-rayon-map.jpg" alt="Províncias do Azerbaijão" title="Províncias do Azerbaijão">

	</article>

</section>

</body>
</html>