<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title> Sobre o Qarabağ Bankı</title>
	<link rel="stylesheet" href="css/styles.css">
	<meta charset="UTF-8">
	<meta name="description" content="Sobre Nós – Qarabağ Bankı">
	<meta name="keywords" content="Sobre, História, Qarabağ, Karabakh, Azerbaijan, Azərbaycan, Bankı">
	<meta name="author" content="Jean Stylianoudakis">
	<!--<meta http-equiv="refresh" content="150">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header>

	<h1>Nossa História</h1>

</header>

<section>
	
	<article>
		
		<p>Nosso banco visa contribuir com a<strong> reconstrução de Qarabağ </strong> após a retomada dos territórios após décadas de <i>ocupação estrangeira</i>.</p>

		<p>Fundado em 2020, logo após a assinatura do acordo mediado pela Federação Russa, o Qarabağ Bankı tem sede em <b>Baku</b>, capital do Azerbaijão. Sua sede será migrada para Xankəndi, logo que houver a<mark> liberação da cidade</mark> e readequação da estrutura.</p>

		<p>Atualmente, o banco conta com 15 unidades de atendimento e tem como maior propósito realocar os refugiados e restabelecer empresas para desenvolvimento da região.</p>

		<img class="resize" src="images/shusha-qalasi.jpg" alt="Castelo de Shusha">

	</article>

</section>

</body>

</html>